<%= stylesheet_link_tag 'my_style' %>
<div id="div_login">
<form action="/session" method="post">
  <label for="login">Email</label><br/>
  <input id="login" name="login" type="text" />
  <p><label for="password">Password</label><br/>
    <input id="password" name="password" type="password" />
  </p><br/>
  <input id="button_login" name="commit" type="submit" value="Log in" />
  <div id="signup">
    <a href="/signup">Sign Up</a>
  </div>
  <div id="forgot">
    <a href="/forgot">Forgot Password?</a>
  </div>
<br/>
</form>
<% if !flash[:notice].nil? %>
<div id="flash_notice">
  <%= flash[:notice] %>
</div>
<% end %>
</div>
<div id="login_image">
  <img src="/images/download.jpg"/>
</div>
