<table width="735" border="1">
  <% @open_bugs.each do |@issue| %>
    <%= render :partial => "content" %>
  <% end %>

  <% @fixed_bugs.each do |@issue| %>
    <%= render :partial => "content" %>
  <% end %>

  <% @tested_bugs.each do |@issue|%>
    <%= render :partial => "content" %>
  <% end %>

  <% @closed_bugs.each do |@issue|%>
    <%= render :partial => "content" %>
  <% end %>
</table>
