<%case
when @issue.status =="Open" then%>
  <div id="close_comment">
    <div class="div_button">
      <a href="/issues/update_issue_status/<%= @issue.id %>?status=Devdone">Dev Done</a>
    </div>
  </div>
<%when @issue.status =="Devdone"%>
  <div id="close_comment">
    <div class="div_button">
      <a href="/issues/update_issue_status/<%= @issue.id %>?status=Tested">Tested</a>
    </div>
  </div>
<%when @issue.status =="Tested"%>
  <div id="close_comment">
    <div class="div_button">
      <a href="/issues/update_issue_status/<%= @issue.id %>?status=Closed">Close</a>
    </div>
  </div>
<%when @issue.status =="closed"%>
   <div id="close_comment">
    <label>Closed</label>
  </div>
<%end%>
