<%case
when @issue.status =="open" then%>
  <div id="close_comment">
    <div class="div_button">
      <a href="/issues/update_issue_status/<%= @issue.id %>?status=answered">Answer</a>
    </div>
  </div>
<%when @issue.status =="closed"%>
  <div id="close_comment">
    <label>Answered</label>
  </div>
<%end%>
