<table width="735" border="1">
  <% @open_features.each do |@issue|%>
    <%= render :partial => "content" %>
  <% end %>

  <% @devdone_features.each do |@issue|%>
    <%= render :partial => "content" %>
  <% end %>

  <% @tested_features.each do |@issue|%>
    <%= render :partial => "content" %>
  <% end %>

  <% @closed_features.each do |@issue|%>
    <%= render :partial => "content" %>
  <% end %>
</table>
