  <p>
    Summary<br/>
    <input id="issue_short_description" name="summary" maxlength="80" type="text" />
  </p>
  <p>
    <label for="issue_detailed_description">Detailed description</label><br />
    <textarea cols="58" id="issue_detailed_description" name="detailed_description" rows="10"></textarea>
  </p>
  <p>
    Add Image<br/>
    <input id="issue_image" name="issue[image]" size="30" type="file" />
  </p>
  <p>
    Assign to<br/>
    <% @users = User.all(:order => 'login')%>
    <select name="issue[assigned_to]" style="width: 150px">
      <% @users.each do |user| %>
        <option value="<%= user.id%>"><%= user.login %></option>
      <% end %>
    </select>
  </p>
  <hr/>